

.jobs-found {
    color: #191919;
    font-family: var(--p-font);
    font-weight: 100;
    text-transform: lowercase;
    text-align: center;
    font-size: 2.75rem;
    letter-spacing: 2px;
    margin-top: 1em;
    margin-right: 2em;
    padding-bottom: 0.5em;
    position: relative;
}

.jobs-found::after{
    content: "";
    width: 50%;
    height: 1px;
    position: absolute;
    border-bottom: 1px solid #191919;
    bottom: 0;
    left: 0;
}


.loading {
    margin: auto;
    align-self: center;
}

.jobs {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color:#F3F2EF;
}

.show-jobs {
    padding: 2em 0;
    display: flex;
    max-width: 1000px;
    margin: 3em auto;
    flex-flow: wrap;
    justify-content: space-evenly;
    animation: appear 1s ease-in;
    position: relative;
}

.jobs-nav {
    display: flex;
    align-items: center;
    max-width: 1200px;
    justify-content: space-evenly;
    margin: 0 auto;
    color: #191919;
}

.profile-btn {
    background: none;
    border: none;
}

.profile-btn:hover {
    cursor: pointer;
}

/* DHRUV BHAIII */
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 1em;
    border: 1px solid #888;
    max-width: 30%;
    border-radius: 1rem;
}

.modal-info {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
}

.modal-info-text {
    margin-left: 4em;
}

.modal-leaderboard {
    text-align: center;
}

.modal-leaderboard-box {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;
    /* border: 2px solid red; */
}

.modal-leaderboard-section{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding-left: 2em;
}

.leaderboard{
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
}

.leaderboard, .name, .heading {
    color: #191919;
}

.username{
    font-family: var(--p-font);
    font-weight: 100;
    font-size: 1.75rem;
    margin: 1em 0;
}

.points{
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-weight: 300;
    margin: 0;
}

.name{
    margin: 0;
    padding: 0;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 1px;
}

.heading{
    margin: 0;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.score {
    letter-spacing: 2px;
    font-size: 0.9rem;
}

.modal-leaderboard-section span{
    margin: 1rem 0;
}

.close {
    color: #aaa;
    float: right;
    font-size: 1.75rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.profile-img {
    width: 10rem;
    height: 9rem;
}

/* DHRUV BHAIII */


@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}